<nz-card nzBorderless="true" nzTitle="所有文件" [nzExtra]="extraTemplate">
  <div class="card-body">
    <div class="card-body-item">
      <div class="item-image">
        <img src="assets/file.png" />
      </div>
      <div class="item-file-name">新建文件夹</div>
    </div>
    <div class="card-body-item">
      <div class="item-image">
        <img src="assets/file.png" />
      </div>
      <div class="item-file-name">haha</div>
    </div>
    <div class="card-body-item">
      <div class="item-image">
        <img src="assets/file.png" />
      </div>
      <div class="item-file-name">haha</div>
    </div>
    <div class="card-body-item">
      <div class="item-image">
        <img src="assets/file.png" />
      </div>
      <div class="item-file-name">haha</div>
    </div>
    <div class="card-body-item">
      <div class="item-image">
        <img src="assets/file.png" />
      </div>
      <div class="item-file-name">haha</div>
    </div>
    <div class="card-body-item">
      <div class="item-image">
        <img src="assets/file.png" />
      </div>
      <div class="item-file-name">haha</div>
    </div>
    <div class="card-body-item">
      <div class="item-image">
        <img src="assets/file.png" />
      </div>
      <div class="item-file-name">haha</div>
    </div>
    <div class="card-body-item">
      <div class="item-image">
        <img src="assets/file.png" />
      </div>
      <div class="item-file-name">haha</div>
    </div>
    <div class="card-body-item">
      <div class="item-image">
        <img src="assets/file.png" />
      </div>
      <div class="item-file-name">haha</div>
    </div>
    <div class="card-body-item">
      <div class="item-image">
        <img src="assets/file.png" />
      </div>
      <div class="item-file-name">haha</div>
    </div>
    <div class="card-body-item">
      <div class="item-image">
        <img src="assets/file.png" />
      </div>
      <div class="item-file-name">haha</div>
    </div>
    <div class="card-body-item">
      <div class="item-image">
        <img src="assets/file.png" />
      </div>
      <div class="item-file-name">haha</div>
    </div>
    <div class="card-body-item">
      <div class="item-image">
        <img src="assets/file.png" />
      </div>
      <div class="item-file-name">haha</div>
    </div>
    <div class="card-body-item">
      <div class="item-image">
        <img src="assets/file.png" />
      </div>
      <div class="item-file-name">haha</div>
    </div>
    <div class="card-body-item">
      <div class="item-image">
        <img src="assets/file.png" />
      </div>
      <div class="item-file-name">haha</div>
    </div>
    <div class="card-body-item">
      <div class="item-image">
        <img src="assets/file.png" />
      </div>
      <div class="item-file-name">haha</div>
    </div>
    <div class="card-body-item">
      <div class="item-image">
        <img src="assets/file.png" />
      </div>
      <div class="item-file-name">haha</div>
    </div>
    <div class="card-body-item">
      <div class="item-image">
        <img src="assets/file.png" />
      </div>
      <div class="item-file-name">haha</div>
    </div>
  </div>
  
</nz-card>
<ng-template #extraTemplate>
  <button nz-button class="extra-button" nzType="primary" nzShape="round"><i nz-icon nzType="upload"></i>上传文件</button>
  <button nz-button nzShape="round"><i nz-icon nzType="folder-add"></i>新建文件夹</button>
</ng-template>