:host {

  ::ng-deep .ant-card-extra {
    display: flex;
  }


  .card-body {

    display: flex;
    flex-wrap: wrap;
    padding-left: 1rem;
    padding-top: 0.5rem;
  
    .card-body-item {
      // width: 5.25rem;
      // height: 5.25rem;
      margin-left: 0.5rem;
      margin-right: 2.5rem;
      margin-bottom: 2.5rem;
      .item-image {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3.5rem;
  
        .upload-img {
          max-width: 3rem; 
          max-height: 5.4rem;
          min-width: 3rem;
          min-height: 3rem;
        }
      }
    
      .item-file-name {
        margin-top: 1rem;
        text-align: center;
      }
  
      .item-file-input {
        margin-top: 1rem;
        text-align: center;
      }
  
    }
  }
  
  
  .card-body-item:hover .item-image{
    cursor: pointer;
    background-color: azure;
  }
  
  .extra-button {
    margin-right: 0.5rem;
  }
  
  .head-nav {
    font-size: 0.5rem;
  
    .dividion {
      color: gray; 
      margin-left: 5px;
      font-size: 1rem;
    }
  
    .queue-word {
      margin-left: 5px;
    }
  }

}

::ng-deep .ant-modal {
  margin: 0;
  width: auto !important;
}

::ng-deep .ant-modal-content {
  width: 100vw;
  height: 96vh;
  opacity: 1;
  background-color: transparent;
}

::ng-deep .ant-modal-close {
  color: white !important;
}

::ng-deep .ant-modal-body {
  width: 100%;
  height: 100%;
}

::ng-deep .ant-modal-close-x {
  font-size: 40px;
}

.modal-content {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}