<nz-card nzBorderless="true" [nzTitle]="headTemplate" [nzExtra]="extraTemplate" [nzLoading]="isCardLoading">
  <div class="card-body">
    <ng-container *ngFor="let file of fileList">
      <ng-container *ngIf="file.entityType === 1">
        <div class="card-body-item" (contextmenu)="contextMenu($event, menu)">
          <div class="item-image">
            <img src="assets/file.png" />
          </div>
          <div class="item-file-name">{{file.folderName}}</div>
        </div>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="onRestore(file.rsNo)">
              <i nz-icon [nzType]="'rollback'"></i>还原
            </li>
            <li nz-menu-item (click)="onDel(file.rsNo)">
              <i nz-icon [nzType]="'delete'"></i>删除
            </li>
          </ul>
        </nz-dropdown-menu>
      </ng-container>
      
      <ng-container *ngIf="file.entityType === 2">
        <div class="card-body-item" (contextmenu)="contextMenu($event, menu)">
          <div class="item-image">
            <img [src]="file.rsPath" class="upload-img"/>
          </div>
          <div class="item-file-name">{{file.imgOriginName}}</div>
        </div>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="onRestore(file.rsNo)">
              <i nz-icon [nzType]="'rollback'"></i>还原
            </li>
            <li nz-menu-item (click)="onDel(file.rsNo)">
              <i nz-icon [nzType]="'delete'"></i>删除
            </li>
          </ul>
        </nz-dropdown-menu>
      </ng-container>
    </ng-container>
  </div>
  
</nz-card>

<ng-template #headTemplate>
  <div>回收站</div>
  
</ng-template>

<ng-template #extraTemplate style="display: flex;">
  <button nz-button nzShape="round"  nzType="primary" (click)="onClearRecycle()">
    <i nz-icon nzType="clear"></i>清空回收站
  </button>
</ng-template>