<nz-layout class="app-container">
  <nz-header class="header-container">
    <!-- <nz-sider nzTheme="light" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <span class="ho-logo-top" href="https://itc.desaysv.com/hololens/">HOLOLENS</span>
    </nz-sider> -->
    <div class="header">
      <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed"></i>
      <div class="title">Storage Admin</div>
      <div>
        <nz-avatar *ngIf="user" [nzSrc]="user.picture" [nzText]="user.name" ></nz-avatar>
      </div>
      <!-- <div nz-dropdown nzTrigger="hover" [nzDropdownMenu]="userMenu">
        <nz-avatar *ngIf="user" [nzText]="user.name"></nz-avatar>
      </div>
      <nz-dropdown-menu #userMenu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)='logout()'>注销</li>
        </ul>
      </nz-dropdown-menu> -->
    </div>
  </nz-header>
  <nz-layout class="content-container">
    <nz-content>
      <div class="sidebar-box">
        <nz-sider class="sidebar" nzCollapsible  nzBreakpoint="md" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
          <ul nz-menu [nzMode]="menus.mode" [nzInlineIndent]="20"  [nzInlineCollapsed]="isCollapsed" *ngFor="let menu of menus.data">
            <ng-container *ngIf="menu.children">
              <li nz-submenu [nzOpen]='menu.open' [nzTitle]="menu.title" [nzIcon]="menu.icon">
                <ul>
                  <li nz-menu-item [nzMatchRouter]="subMenu.matchRouter" *ngFor="let subMenu of menu.children">
                    <i *ngIf="subMenu.icon" nz-icon [nzType]="subMenu.icon"></i>
                    <a [routerLink]="subMenu.link">{{subMenu.name}}</a>
                  </li>
                </ul>
              </li>
            </ng-container>
            <ng-container *ngIf="!menu.children">
              <li nz-menu-item [nzMatchRouter]="menu.matchRouter">
                <i nz-icon [nzType]="menu.icon"></i>
                <a [routerLink]="menu.link">{{menu.name}}</a>
              </li>
            </ng-container>
          </ul>
        </nz-sider>
      </div>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-layout class="footer-container">
      <nz-footer> 粤ICP备18135123号  </nz-footer>
    </nz-layout>
  </nz-layout>
</nz-layout>
